@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  /* -webkit-text-fill-color: black !important; */
}

html {
  scroll-behavior: smooth;
}

:root {
  --foreground: #285bd2;
}